<?xml version='1.0' ?>
    <rss version='2.0'>
    <channel>
        <title>Where is Narnar?</title>
        <description>Un site reference de tout nanars</description>
        <language>fr-FR</language>
        <link>{{ web_url }}/rss</link>

        {% for movie in movies %}
        <movie>
            <title>{{ movie.title }}</title>
            <description>{{ movie.description }}</description>
            <link>{{ web_url }}/singleMovie?id={{ movie.id }}</link>
        </movie>
        {% endfor %}
        </channel>
    </rss>

